*{
	font-family: 'Source Sans Pro', sans-serif;
}

body {
  /* The image used */
  background-image: url("http://wallpapercave.com/wp/qKOf4FD.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#main{
	margin-left: 18em;
	text-align: left;
	margin-top: 15em;
	width: 200px;
}

.btn{
	border-radius: 0px;
	border: 1px solid black;
	font-size: 1.5em;
	font-weight: 300;
	width: 25%;
	background-color: #F2F2F2;
	margin-left: -4px;
	margin-bottom: -1px;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none; 
    outline: none; 
    outline-offset: none;
}

.btnOrange{
	background-color: #F27405;
	color: white;
}

.btnOrange:hover, .btnOrange:active, .btnOrange:focus{
	color: white;
}

.btnGrey{
	background-color: #BABABA;
}

#btn0{
	width: 50%;
	margin-right: -1px;
	text-align: left;
	padding-left: 19px;
}

#btnEnter{
	margin-left: -4px;
	width: 44px;
}

#outputWindow{
	margin-left: -19px;
  margin-right: -7px;
	background-color: black;
	text-align: right;
	height: 66px;
}

#outputText{
  margin-bottom: 0px;
  margin-top: 25px;
  padding-right: 5px;
  font-weight: 300;
  color: white;
  max-width: 200px;
}

#iphone{
	background-color: #1c1c1c;
  padding: 38px 20px 57px 33px;
  border-radius: 20px;
  width: 200px;
  box-shadow: 0 0 25px black;
}

.btnOutline{
	background-color: #BF5C04;
	}

#credit{
	margin-top: 100px;
	text-align: center;
}